:root{
--narinci:rgb(242, 129, 35);
--tundmavi: rgb(7, 33, 46);

}
.txt-orange{color:var(--narinci);}
header{background:  linear-gradient(rgba(7, 33, 46, 0.6), rgba(7, 33, 46, 0.6)),  url('../img/hero-bg.jpg') center/cover;}
.icon{border:2px dotted var(--narinci);
width:65px;
height:65px;
    border-radius: 40px;
}
.icon{border:2px dotted var(--narinci);
        border-radius: 40px;
        color:var(--narinci);
    }
    header .card-title {
        font-size: 3rem;     
        font-weight: 700;
      }
    .navbar-brand img {
        width: 150px;
        height: 50px;
        object-fit: contain;
      }
      .buton1 {
        background-color: var(--narinci)!important;
        border: none !important;
        color: #fff !important;
      }
      .buton1:hover {
        background-color: var(--tundmavi) !important;
        color: var(--narinci) !important;

      }
      
      .buton2{
        border: 2px solid var(--narinci)!important;
        background: transparent!important;
        color: #fff!important;
      }
      .buton2:hover {
        background-color: var(--narinci)!important;
        color: #fff!important ;
      }
      
      
 .nav-item  a:hover,.nav-item .active{color: var(--narinci) !important;}
@media only screen and (min-width: 768px) {

}
